@import '../../css/constants.scss'; 
@import '../../css/responsive.scss'; 

.Setting {
    @include responsive(desktop, laptop) {
        display: flex;
        flex-direction: row;
        background-color: $white_color;
        .panel-mobile {
            display: none;
        }
        .panel {
            min-width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            .item-row {
                margin: 10px 20px;
                display: flex;
                flex-direction: row;
                margin-right: auto;
                padding-bottom: 10px;
                i{
                    margin: auto 0;
                    color: $border_color;
                }
                .item-text {
                    margin-left: 15px;
                    color: $border_color;
                    font-family: 'Roboto-Bold';
                    font-size: 18px;
                    cursor: pointer;
                }
                &.selected {
                    border-bottom: 4px solid orange;
                }
            }
        }
        .tab1 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            min-height: calc(100vh - 81px);
            .title-row {
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                .text {
                    font-size: 30px;
                    color: $black_color;
                    font-family: 'Roboto-Bold';
                    line-height: 30px;

                    &.sep {
                        padding: 0 10px;
                    }
                }
                .dis {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 10px;
                    .row {
                        font-size: 10px;
                    }
                }
            }
            .ctrl-row {
                display: flex;
                flex-direction: row;
                margin: 50px 0;
                .green-button {
                    padding: 10px;
                    width: 70px;
                    border: 1px solid $green_color;
                    border-radius: 10px;
                    font-size: 12px;
                    color: $green_color;
                    text-align: center;
                }
                .orange-button {
                    padding: 10px;
                    width: 70px;
                    border: 1px solid orange;
                    border-radius: 10px;
                    font-size: 12px;
                    color: orange;
                    margin-left: 10px;
                    text-align: center;
                }
                img {
                    width: 37px;
                    height: 37px;
                    margin-left: 40px;
                }
                .dis {
                    height: 37px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 10px;
                    .usdt {
                        font-size: 14px;
                    }
                    .text {
                        font-size: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
            .description-row {
                display: flex;
                flex-direction: row;
                .items {
                    display: flex;
                    flex-direction: row;
                    .item {
                        display: flex;
                        flex-direction: column;
                        margin-right: 50px;
                        .usdt {
                            font-family: 'Roboto-Bold';
                            font-size: 22px;
                            &.green {
                                color: $green_color;
                            }
                        }
                        .text {
                            font-size: 12px;
                        }
                    }
                }
                .mid-text {
                    margin: auto 0;
                    font-family: 'Roboto-Bold';
                    font-size: 22px;
                }
                .buttons {
                    display: flex;
                    flex-direction: row;
                }
                .download-but {
                    border-radius: 5px;
                    border: 1px solid $hover_color;
                    margin: auto 0;
                    padding: 5px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    .text {
                        color: $hover_color;
                        font-size: 14px;
                        padding-left: 10px;
                        margin: auto 0;
                    }
                }
            }
            .seperator {
                background: $border_color;
                height: 1px;
                width: 700px;
                margin: 30px 0;
                &.second {
                    margin-bottom: 0;
                }
                &.third {
                    width: 750px;
                }
            }
            .small-text {
                font-size: 12px;
                margin-bottom: 20px;
            }
            .medium-size {
                font-family: 'Roboto-Bold';
                margin: 30px 0;
                font-size: 18px;
            }
            .row-list {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                .list {
                    display: flex;
                    flex-direction: row;
                    .direction {
                        min-width: 40px;
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        border: 1px solid $hover_color;
                        text-align: center;
                        &.left {
                            margin-right: 10px;
                        }
                        &.right {
                            margin-left: 10px;
                        }
                        i {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 40px;
                            color: $hover_color;
                        }
                        margin: auto 0;                    
                    }
                    .crypto {
                        border-radius: 10px;
                        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        margin: 0 10px;
                        @media only screen and (max-width: 1260px) {
                            &.third {
                                display: none;
                            }
                        }
                        @media only screen and (max-width: 1540px) {
                            &.forth {
                                display: none;
                            }
                        }
                        .detail {
                            display: flex;
                            flex-direction: row;
                            .crypto-img {
                                width: 38px;
                                height: 32px;
                            }
                            .type {
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                .name {
                                    font-family: 'Roboto-Bold';
                                }
                                .small {
                                    font-size: 10px;
                                    color: $grey_color;
                                }
                            }
                        }
                        .chart-row {
                            display: flex;
                            flex-direction: row;
                            .status {
                                display: flex;
                                flex-direction: column;
                                margin-top: 20px;
                                .plus {
                                    color: $green_color;
                                    font-family: 'Roboto-Bold';
                                }
                                .dis {
                                    color: $grey_color;
                                    font-size: 10px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .block {
                display: flex;
                flex-direction: row;
                .number {
                    display: flex;
                    flex-direction: column;
                    .circle {
                        width: 40px;
                        height: 40px;
                        border: 1px solid $border_color;
                        border-radius: 100%;
                        text-align: center;
                        font-family: 'Roboto-Bold';
                        font-size: 16px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .line1 {
                        height: 160px;
                        width: 1px;
                        background: $border_color;
                        margin: 0 auto;
                    }
                    .line2 {
                        height: 100px;
                        width: 1px;
                        background: $border_color;
                        margin: 0 auto;
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    .c-title {
                        margin-top: 10px;
                        font-family: 'Roboto-Bold';
                    }
                    .c-description {
                        color: $grey_color;
                        margin-top: 20px;
                        &.second {
                            margin-bottom: 20px;
                        }
                    }
                    img {
                        margin-top: 20px;
                        width: 400px;
                        height: 70px;
                    }
                }
            }
            .qr-row {
                display: flex;
                flex-direction: row;
                .qr-img {
                    width: 140px;
                    height: 140px;
                    margin-right: 20px;
                }
                .code-input {
                    display: flex;
                    flex-direction: column;
                    margin: auto 0;
                    .text {
                        font-size: 10px;
                        color: $grey_color;
                        margin-bottom: 5px;
                    }
                    .input-content {
                        display: flex;
                        flex-direction: row;
                        input {
                            font-size: 14px;
                            padding: 10px;
                            border-radius: 5px;
                            width: 200px;
                        }
                        .copy{
                            width: 40px;
                            margin-left: -10px;
                            border-radius: 10px;
                            background-color: $hover_color;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            i {
                                color: $white_color;
                            }
                        }
                    }
                }
            }
            .orange-text {
                font-size: 12px;
                color: orange;
                margin-bottom: 40px;
            }
            .yellow-button {
                background-color: #fbd427;
                margin-bottom: 30px;
                color: white;
                padding: 10px;
                border-radius: 10px;
                font-size: 12px;
                width: 120px;
                text-align: center;
            }
            .option-row {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                .option-mobile {
                    display: none;}
                .option {
                    display: flex;
                    flex-direction: column;
                    margin-right: 15px;
                    .text {
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    .dropdown {
                        border: 1px solid $hover_color;
                        display: flex;
                        flex-direction: row;
                        border-radius: 5px;
                        width: 220px;
                        justify-content: space-between;
                        i {
                            color: orange;
                            padding: 10px;
                        }
                        .cal-icon {
                            padding-right: 10px;
                            border-right: 1px solid $hover_color;
                        }
                        &.cal {
                            margin-top: auto;
                        }
                        .d-text {
                            padding: 10px 15px;
                            font-size: 12px;
                        }
                        .c-text {
                            margin-right: auto;
                            padding: 10px 15px;
                            font-size: 12px;
                        }
                    }
                }
            }
            .table-block {
                display: flex;
                flex-direction: column;
                border-top: 1px solid $hover_color;
                margin-right: auto;
                margin-top: 30px;
                overflow-x: auto;
                width: 80%;
                .t-header {
                    display: flex;
                    flex-direction: row;
                    padding: 10px 0;
                    width: 100%;
                    .cell {
                        color: $grey_color;
                        font-size: 12px;
                        width: 16%;
                        margin: auto 0;
                        &.t1 {
                            width: 20%;
                        }
                    }
                    overflow: auto;
                    white-space: nowrap;
                }
                .table-row{
                    display: flex;
                    flex-direction: column;
                    background-color: $light_grey_color;
                    margin-bottom: 10px;
                    .t-row {
                        display: flex;
                        flex-direction: row;
                        padding: 10px 20px;
                        cursor: pointer;
                        .cell {
                            width: 16%;
                            margin: auto 0;
                            color: $black_color;
                            font-family: 'Roboto-Bold';
                            font-size: 16px;
                            .red {
                                color: $red_color;
                            }
                            .rate {
                                font-size: 12px;
                                padding-left: 21px;
                            }
                            &.t1 {
                                width: 20%;
                                color: $grey_color;
                                font-size: 12px;
                            }
                            &.t2 {
                                width: 20%;
                            }
                        }
                        i {
                            margin: auto;
                            font-size: 18px;
                            color: peru;
                        }
                    }
                    .open-row {
                        margin: 0 10px;
                        padding: 10px;
                        background-color: $white_color;
                        margin-bottom: 10px;
                        .detail-text {
                            padding-bottom: 10px;
                            font-size: 14px;
                            border-bottom: 1px solid $hover_color;
                            margin-bottom: 15px;
                        }
                        .o-row {
                            display: flex;
                            flex-direction: row;
                            .item {
                                display: flex;
                                flex-direction: column;
                                margin-right: 50px;
                                .title {
                                    font-size: 14px;
                                    color: $hover_color;
                                }
                                .status {
                                    font-size: 14px;
                                    color: $black_color;
                                }
                                .rate {
                                    font-size: 12px;
                                    color: $hover_color;
                                }
                                i {
                                    color: $green_color;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @include responsive(mobile) {
        display: flex;
        flex-direction: column;
        background-color: $white_color;
        .panel-mobile {
            margin: 15px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;
            border-top: 1px solid $hover_color;
            border-bottom: 1px solid $hover_color;
            .dropdown {
                position: absolute;
                background: $white_color;
                margin-top: 30px;
                margin-left: -10px;
                width: calc(100% - 30px);
                border: 1px solid $hover_color;
                .text {
                    background: white;
                    padding: 10px;
                    border-bottom: 1px solid $hover_color;
                }
            }
        }
        .panel {
            display: none;
        }
        .tab1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            .title-row {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                padding: 20px 0;
                background: $light_grey_color;
                .text {
                    font-size: 30px;
                    color: $black_color;
                    font-family: 'Roboto-Bold';
                    line-height: 30px;
                    text-align: center;
                    margin-bottom: 10px;
                    &.sep {
                        display: none;
                    }
                }
                .dis {
                    display: flex;
                    flex-direction: row;
                    margin-left: 10px;
                    margin: 0 auto;
                    .row {
                        font-size: 14px;
                        padding: 0 2px;
                    }
                }
            }
            .ctrl-row {
                display: flex;
                flex-direction: row;
                margin: 50px 0;
                padding: 0 10px;
                .green-button {
                    padding: 10px;
                    width: 70px;
                    border: 1px solid $green_color;
                    border-radius: 10px;
                    font-size: 12px;
                    color: $green_color;
                    text-align: center;
                }
                .orange-button {
                    padding: 10px;
                    width: 70px;
                    border: 1px solid orange;
                    border-radius: 10px;
                    font-size: 12px;
                    color: orange;
                    margin-left: 10px;
                    text-align: center;
                }
                img {
                    width: 37px;
                    height: 37px;
                    margin-left: 40px;
                }
                .dis {
                    height: 37px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 10px;
                    .usdt {
                        font-size: 14px;
                    }
                    .text {
                        font-size: 10px;
                        margin-bottom: 5px;
                    }
                }
            }
            .description-row {
                display: flex;
                flex-direction: row;
                background-color: $light_grey_color;
                padding: 20px 0;
                .items {
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    border-right: 1px solid $border_color;
                    &.noborder {
                        border: none;
                    }
                    .item {
                        display: flex;
                        flex-direction: column;
                        .usdt {
                            font-family: 'Roboto-Bold';
                            font-size: 22px;
                            &.green {
                                color: $green_color;
                            }
                        }
                        .text {
                            font-size: 12px;
                        }
                        margin-bottom: 10px;
                    }
                }
                .mid-text {
                    margin: auto 0;
                    font-family: 'Roboto-Bold';
                    font-size: 22px;
                    margin: auto;
                }
                .buttons {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                }
                .download-but {
                    border-radius: 5px;
                    border: 1px solid $hover_color;
                    margin: 10px 0;
                    padding: 5px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    .text {
                        color: $hover_color;
                        font-size: 14px;
                        padding-left: 10px;
                        margin: auto 0;
                    }
                }
            }
            .seperator {
                display: none;
            }
            .small-text {
                font-size: 12px;
                margin-bottom: 20px;
                background-color: $light_grey_color;
                padding: 10px 50px;
                text-align: center;
                &.nomargin {
                    margin: 0;
                }
            }
            .medium-size {
                font-family: 'Roboto-Bold';
                margin: 30px 0;
                font-size: 18px;
                text-align: center;
            }
            .row-list {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                .list {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 100px;
                    .direction {
                        display: none;                 
                    }
                    .crypto {
                        border-radius: 10px;
                        box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
                        padding: 10px;
                        display: none;
                        flex-direction: column;
                        margin: 0 10px;
                        &.first {
                            display: flex;
                            margin: auto;
                        }
                        .detail {
                            display: flex;
                            flex-direction: row;
                            .crypto-img {
                                width: 38px;
                                height: 32px;
                            }
                            .type {
                                display: flex;
                                flex-direction: column;
                                margin-left: 10px;
                                .name {
                                    font-family: 'Roboto-Bold';
                                }
                                .small {
                                    font-size: 10px;
                                    color: $grey_color;
                                }
                            }
                        }
                        .chart-row {
                            display: flex;
                            flex-direction: row;
                            .status {
                                display: flex;
                                flex-direction: column;
                                margin-top: 20px;
                                .plus {
                                    color: $green_color;
                                    font-family: 'Roboto-Bold';
                                }
                                .dis {
                                    color: $grey_color;
                                    font-size: 10px;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .block {
                display: flex;
                flex-direction: row;
                padding: 0 10px;
                .number {
                    display: flex;
                    flex-direction: column;
                    .circle {
                        width: 40px;
                        height: 40px;
                        border: 1px solid $border_color;
                        border-radius: 100%;
                        text-align: center;
                        font-family: 'Roboto-Bold';
                        font-size: 16px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    .line1 {
                        height: 160px;
                        width: 1px;
                        background: $border_color;
                        margin: 0 auto;
                    }
                    .line2 {
                        height: 100px;
                        width: 1px;
                        background: $border_color;
                        margin: 0 auto;
                    }
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    .c-title {
                        margin-top: 10px;
                        font-family: 'Roboto-Bold';
                    }
                    .c-description {
                        color: $grey_color;
                        margin-top: 20px;
                        &.second {
                            margin-bottom: 20px;
                        }
                    }
                    img {
                        margin-top: 20px;
                        width: 300px;
                        height: 50px;
                    }
                }
            }
            .qr-row {
                display: flex;
                flex-direction: row;
                .qr-img {
                    width: 140px;
                    height: 140px;
                    margin-right: 20px;
                }
                .code-input {
                    display: flex;
                    flex-direction: column;
                    margin: auto 0;
                    .text {
                        font-size: 10px;
                        color: $grey_color;
                        margin-bottom: 5px;
                    }
                    .input-content {
                        display: flex;
                        flex-direction: row;
                        input {
                            font-size: 14px;
                            padding: 10px;
                            border-radius: 5px;
                            width: 140px;
                        }
                        .copy{
                            width: 40px;
                            margin-left: -10px;
                            border-radius: 10px;
                            background-color: $hover_color;
                            text-align: center;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            i {
                                color: $white_color;
                            }
                        }
                    }
                }
            }
            .orange-text {
                font-size: 12px;
                color: orange;
                margin-bottom: 40px;
                padding-left: 10px;
            }
            .yellow-button {
                margin-left: 10px;
                background-color: #fbd427;
                margin-bottom: 30px;
                color: white;
                padding: 10px;
                border-radius: 10px;
                font-size: 12px;
                width: 120px;
                text-align: center;
            }
            .option-row {
                display: flex;
                flex-direction: row;
                background-color: $light_grey_color;
                .option {
                    display: none;
                }
                .option-mobile {
                    display: flex;
                    flex-direction: column;
                    margin: 0 30px;
                    width: 100%;
                    background: $white_color;
                    .text {
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    .dropdown {
                        border: 1px solid $hover_color;
                        display: flex;
                        flex-direction: row;
                        border-radius: 5px;
                        justify-content: space-between;
                        i {
                            color: orange;
                            padding: 10px;
                        }
                        .cal-icon {
                            padding-right: 10px;
                            border-right: 1px solid $hover_color;
                        }
                        &.cal {
                            margin-top: auto;
                        }
                        .d-text {
                            padding: 10px 15px;
                            font-size: 12px;
                        }
                        .c-text {
                            margin-right: auto;
                            padding: 10px 15px;
                            font-size: 12px;
                        }
                    }
                }
            }
            .table-block {
                display: flex;
                flex-direction: column;
                border-top: 1px solid $hover_color;
                margin-right: auto;
                margin-top: 30px;
                overflow-x: auto;
                width: 100%;
                .t-header {
                    display: flex;
                    flex-direction: row;
                    padding: 10px 0;
                    width: 100%;
                    .cell {
                        color: $grey_color;
                        font-size: 8px;
                        width: 14%;
                        margin: auto 0;
                        &.t1 {
                            width: 20%;
                            padding-right: 10px;
                        }
                    }
                    overflow: auto;
                    white-space: nowrap;
                }
                .table-row{
                    display: flex;
                    flex-direction: column;
                    background-color: $light_grey_color;
                    margin-bottom: 10px;
                    .t-row {
                        display: flex;
                        flex-direction: row;
                        padding: 10px 20px;
                        cursor: pointer;
                        .cell {
                            width: 16%;
                            margin: auto 0;
                            color: $black_color;
                            font-family: 'Roboto-Bold';
                            font-size: 10px;
                            .red {
                                color: $red_color;
                            }
                            .rate {
                                font-size: 10px;;
                            }
                            &.t1 {
                                width: 20%;
                                color: $grey_color;
                                font-size: 10px;
                            }
                            &.t2 {
                                width: 16%;
                            }
                        }
                        i {
                            margin: auto;
                            font-size: 18px;
                            color: peru;
                        }
                    }
                    .open-row {
                        margin: 0 10px;
                        padding: 10px;
                        background-color: $white_color;
                        margin-bottom: 10px;
                        .detail-text {
                            padding-bottom: 10px;
                            font-size: 10px;
                            border-bottom: 1px solid $hover_color;
                            margin-bottom: 15px;
                        }
                        .o-row {
                            display: flex;
                            flex-direction: row;
                            .item {
                                display: flex;
                                flex-direction: column;
                                margin-right: 10px;
                                .title {
                                    font-size: 10px;
                                    color: $hover_color;
                                }
                                .status {
                                    font-size: 10px;
                                    color: $black_color;
                                }
                                .rate {
                                    font-size: 10px;
                                    color: $hover_color;
                                }
                                i {
                                    color: $green_color;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}