@import '../../css/constants.scss'; 
@import '../../css/responsive.scss'; 

.Dashboard {
    @include responsive(desktop, laptop) {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .back {
            height: 300px;
            width: 100%;
            background: linear-gradient(180deg, rgba(37,138,194,1) 0%, rgba(14,87,156,1) 48%, rgba(22,59,163,1) 100%);
            margin-top: -80px;
            z-index: -1;
        }
    }
    @include responsive(mobile) {
    }
}