@import '../../css/constants.scss'; 
@import '../../css/responsive.scss'; 

.Header {
    background-color: none;
    @include responsive(desktop, laptop) {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $split_color;
        padding: 0 16px;
        &.dark {
            background-color: white;
            color: black;
        }
        .dark {
            color: black !important;
        }
        &.white {
            background-color: white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .make__center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .header__left {
            display: flex;
            flex-direction: row;
            .nav__icon {
                font-size: 24px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    color: white;
                    transition: 0.3s;
                }
                &.black {
                    &:hover {
                        color: black;
                        transition: 0.3s;
                    }
                }
            }
            .title__text {
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 15px 0 20px;
                font-weight: bold;
                font-size: 25px;
                &.black {
                    color: black;
                }
            }
            .add__button {
                cursor: pointer;
                width: 46px;
                height: 46px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                border: 1px solid $dark_grey_color;
                color: white;
                border-radius: 3px;
                transition: 0.3s;
                &:hover {
                    border-color: $grey_color;
                    background-color: rgb(67, 68, 71);
                    transition: 0.3s;
                }
            }
            .asset__cotainer {
                margin-left: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 46px;
                padding: 0px 20px 0 0;
                border: 1px solid $back_color;
                background-color: $dark_grey_color;
                border-radius: 3px;
                cursor: pointer;
                .asset__selected {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .asset__icon {
                        color: white;
                        margin-right: 5px;
                    }
                    .asset__images {
                        margin-top: -5px;
                        margin-right: 5px;
                        .image1 {
                            background-color: rgb(227, 134, 48);
                            width: 20px;
                            height: 20px;
                            border-radius: 100%;
                        }
                        .image2 {
                            position: absolute;
                            background-color: rgb(209, 34, 48);
                            width: 20px;
                            height: 20px;
                            border-radius: 100%;
                            margin-top: -12px;
                            margin-left: 7px;
                        }
                    }
                    .asset__type {
                        color: white;
                        margin-left: 10px;
                        user-select: none;
                        display: flex;
                        flex-direction: column;
                        .currency {
                            font-family: 'Roboto-Bold';
                            font-size: 16px;
                        }
                        .binary {
                            font-family: 'Roboto-Light';
                            font-size: 12px;
                        }
                    }
                }
                transition: 0.3s;
                &:hover {
                    border: 1px solid $grey_color;
                    background-color: rgb(67, 68, 71);
                    color: $hover_color;
                    transition: 0.3s;
                    .asset__selected {
                        .asset__icon {
                            color: white;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
        .header__right {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            user-select: none;
            .demo__account {
                display: flex;
                flex-direction: row;
                .icon {
                    color: #1EAD3D;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: 0.3s;
                    font-size: 16px;
                    margin-left: 5px;
                }
                .account__block {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    margin-right: 10px;
                    .account__type {
                        color: rgb(220, 220, 220);
                        font-size: 12px;
                        transition: 0.3s;
                        text-align: right;
                        font-family: 'Roboto-Medium';
                        font-size: 16px;
                    }
                    .account__balance {
                        color: #1EAD3D;
                        transition: 0.3s;
                        font-family: 'Roboto-Bold';
                        font-size: 24px;
                        display: flex;
                        flex-direction: row;
                    }
                }
                &:hover {
                    .icon, .account__balance, .account__type {
                        opacity: 0.7;
                        transition: 0.3s;
                    }
                }
            }
            .deposit__button {
                margin-left: 20px;
                height: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5px 30px;
                border-radius: 100px;
                font-size: 14px;
                transition: 0.3s;
                border: 1px solid #1EAD3D;
                font-family: 'Roboto-Bold';
                font-size: 18px;
                color: #1EAD3D;
                &:hover {
                    opacity: 0.7;
                    transition: 0.3s;
                }
            }
            .user__avatar {
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;      
                transition: 0.3s;      
                .avatar {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 46px;
                    width: 46px;
                    border-radius: 100%;
                    background-color: $dark_grey_color;
                    color: $grey_color;
                    justify-content: center;
                    transition: 0.3s;
                    font-family: 'Roboto-Bold';
                    font-size: 24px;
                }
                i {
                    margin-left: 3px;
                    color: white;
                }
                &:hover {
                    opacity: 0.7;
                    transition: 0.3s;
                }
            }
        }
        .panel {
            position: absolute;
            right: 0;
            background-color: $white_color;
            width: 400px;
            height: 100%;
            z-index: 10;
            .user {
                display: flex;
                flex-direction: row;
                padding: 10px;
                margin-left: 30px;
                .user-img {
                    width: 52px;
                    height: 52px;
                }
                .user__detail {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    .name {
                        font-family: 'Roboto-Bold';
                        font-size: 22px;
                    }
                    .email {
                        color: $grey_color;
                    }
                }
                .close {
                    margin-left: auto;
                    i {
                        color: $grey_color;
                        font-size: 20px;
                    }
                }
            }
            .balance-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px 40px;
                .br-text {
                    color: $border_color;
                    font-size: 18px;
                    margin: auto 0;
                }
                .bal-text {
                    color: $green_color;
                    font-size: 24px;
                    font-family: 'Roboto-Bold';
                }
            }
            .item-row {
                padding: 10px 40px;
                display: flex;
                flex-direction: row;
                i{
                    margin: auto 0;
                    color: $border_color;
                }
                .item-text {
                    margin-left: 15px;
                    color: $border_color;
                    font-family: 'Roboto-Bold';
                    font-size: 18px;
                    cursor: pointer;
                }
            }
        }
    }
    @include responsive(mobile) {
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 20px;
        border-bottom: 1px solid $split_color;
        &.dark {
            background-color: white;
            color: black;
        }
        .dark {
            color: black !important;
        }
        &.white {
            background-color: white;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .make__center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .header__left {
            display: flex;
            flex-direction: row;
            .nav__icon {
                display: none;
            }
            .title__text {
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 10px;
                font-weight: bold;
                font-size: 16px;
                &.black {
                    color: black;
                }
            }
            .add__button {
                display: none;
            }
            .asset__cotainer {
                display: none;
            }
        }
        .header__right {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            user-select: none;
            .demo__account {
                display: flex;
                flex-direction: row;
                .icon {
                    color: #1EAD3D;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transition: 0.3s;
                    font-size: 14px;
                    margin-left: 5px;
                }
                .account__block {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    margin-right: 10px;
                    .account__type {
                        color: rgb(220, 220, 220);
                        font-size: 12px;
                        transition: 0.3s;
                        text-align: right;
                        font-family: 'Roboto-Medium';
                        font-size: 12px;
                    }
                    .account__balance {
                        color: #1EAD3D;
                        transition: 0.3s;
                        font-family: 'Roboto-Bold';
                        font-size: 16px;
                        display: flex;
                        flex-direction: row;
                    }
                }
                &:hover {
                    .icon, .account__balance, .account__type {
                        opacity: 0.7;
                        transition: 0.3s;
                    }
                }
            }
            .deposit__button {
                margin-left: 20px;
                height: 32px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5px 10px;
                border-radius: 100px;
                font-size: 14px;
                transition: 0.3s;
                border: 1px solid #1EAD3D;
                font-family: 'Roboto-Bold';
                font-size: 18px;
                color: #1EAD3D;
                &:hover {
                    opacity: 0.7;
                    transition: 0.3s;
                }
            }
            .user__avatar {
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;      
                transition: 0.3s;      
                .avatar {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 46px;
                    width: 46px;
                    border-radius: 100%;
                    background-color: $dark_grey_color;
                    color: $grey_color;
                    justify-content: center;
                    transition: 0.3s;
                    font-family: 'Roboto-Bold';
                    font-size: 24px;
                }
                i {
                    margin-left: 3px;
                    color: white;
                }
                &:hover {
                    opacity: 0.7;
                    transition: 0.3s;
                }
            }
        }
    }
}