$grey_color: rgb(127, 129, 132);
$hover_color: rgb(189, 189, 189);
$back_color: rgb(37, 38, 42);
$border_color: rgb(72, 73, 76);
$dark_grey_color: rgb(55, 56, 59);
$light_grey_color: rgb(221, 221, 221);
$red_color: #D54D36;
$green_color: #1EAD3D;
$split_color: rgb(165, 167, 172);
$white_color: #fff;
$black_color: #000;
